<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

</head>
<body>
<div>
<form action="{% url 'user_profile' user.id%}" method="POST">
{% csrf_token %}
    {{ formset.management_form }}
<div class="container">
    <div class="row">
        <div class="col-4">
            <div class="form-group">
                <label for="{{ form.first_name.id_for_label }}">{{ form.first_name.label }}</label>
                {{ form.first_name }}
                {{ form.first_name.errors }}

            </div>

        </div>
        <div class="col-4">
            <div class="form-group">
                <label for="{{ form.last_name.id_for_label }}">{{ form.last_name.label }}</label>
                {{ form.last_name }}
                {{ form.last_name.errors }}

            </div>

        </div>

    </div>

     <div class="row">
        <div class="col">
            <input type="submit" value="submit">
        </div>

    </div>
</div>
</form>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead>
                <th>
                    name
                </th>
                <th>relationship</th>

                </thead>
                <tbody>
                {% for form in formset %}
                <tr>
                    <td>{{ form.name }}{{ form.name.errors }}</td>
                    <td>{{ form.relationship }}{{ form.relationship.errors }}</td>
                </tr>
                {% endfor %}
                </tbody>

            </table>
        </div>

    </div>
</div>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>