<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<form action="thanks.html" method="post">

    <input id="apato" type="checkbox" >
    <label for="apato">apato</label>

      <input id="steg" type="checkbox" >
    <label for="steg">steg</label>

      <input id="trex" type="checkbox" >
    <label for="trex">trex</label>

    <div>
        <input id="green" type="radio" name="fav-color" onclick="doSomething();">
        <label for="green">green</label>

        <input id="red" type="radio" name="fav-color">
        <label for="red">red</label>

        <input id="black" type="radio" name="fav-color">
        <label for="black">black</label>
    </div>
</form>



<script>
    function doSomething()
{
alert("Do something radio button was checked");
}
</script>

</body>
</html>