<!DOCTYPE html>
<html>
<head>
<script>
function check(browser) {
  document.getElementById("answer").value=browser;
}
</script>
</head>
<body>

<p>What's your favorite browser?</p>

<form>
<input type="radio" name="browser" onclick="check(this.value)" value="Internet Explorer">Internet Explorer<br>
<input type="radio" name="browser" onclick="check(this.value)" value="Firefox">Firefox<br>
<input type="radio" name="browser" onclick="check(this.value)" value="Opera">Opera<br>
<input type="radio" name="browser" onclick="check(this.value)" value="Google Chrome">Google Chrome<br>
<input type="radio" name="browser" onclick="check(this.value)" value="Safari">Safari<br>
<br>
Your favorite browser is: <input type="text" id="answer" size="20">
</form>

</body>
</html>